=render partial: "mypages/header" 
.logout
  .logout-body
    =render "mypages/side_bar"
    .logout-content
      .logout-message
        .logout-message__text
          ログアウト

=render partial: "mypages/footer" 