.body-logout
  .logout-wrapper
    =render "mypages/side_bar"
    .header-mypage
    .mainbox-mypage__logout
      .side-bar__logout
      .main-bar__items__logout
      .top-box-mypage__logout 
      .main-mypagebox__logout
      .text__logout ログアウト