.form-info
  %ul.menu
    %li.menu--list
    = link_to "プライバシーポリシー", "#", class: "menu--list"
    %li.menu--list
    = link_to "FURIMA利用規約", "#", class: "menu--list"
    %li.menu--list
    = link_to "特許商取引に関する表記", "#", class: "menu--list"
  .icon
    =link_to image_tag("material/logo/logo-white.png", width: "160px", height: "40px"), root_path, class: 'white-logo'
  %p.copyright © FURIMA