= render "purchases/form-header"
.wrapper-test
  .section
    .left
      %ul.lists
        %li.list
          = link_to "お知らせ", "#", class: "list--btn"
    .right
      
= render "purchases/form-info"