=render partial: "header" 
.mypage-wrapper
  .main-body
    =render partial: "side_bar"
    .mypage__right-main
      .main-box
        = image_tag "user-bg.jpg", size: "700x200"
        .user
          .user__img
            = image_tag "mypage-logo.jpg", size: "50x50", class: "user__img--img"
          .user-name
            テスト
          .info-box
            .info-box__left
              .info-box__left--text
                評価
              .info-box__left--num
                0
            .info-box__right
              .info-box__right--text
                出品数
              .info-box__right--num
                0
      %ul.menu
        %li.menu__list
          %a#about.menu_item.active{:href => "#"} 出品中の商品
        %li.menu__list
          %a#about.menu_item.active{:href => "#"} 過去の取引商品
      %ul.contents
      %li.content.show
        出品中の商品はありません
        = image_tag "logo-white.png", size: "350x110"
      %li.content 
        過去の取引商品はありません
        = image_tag "logo-white.png", size: "350x110"
=render partial: "footer"
