$common-color: #3CCACE;

.show-wrapper {
  background-color: #f8f8f8;
  .show-main{
    padding: 40px;
    margin: 0 auto;
    .contents {
      width: 700px;
      margin: 0 auto;
      .top-content {
        .product {
          background-color: #fff;
          padding: 24px 40px 40px;
          &__name {
            text-align: center;
            font-weight: bold;
            font-size: 24px;
          }
          &__body {
            margin-top: 16px;
            ul {
              display: flex;
              position: relative;
              li {
                display: flex;
                flex-direction: column;
                width: 560px;
                align-items: center;
                margin: 0 auto;
                img {
                  object-fit: cover;
                  height: 346px;
                  width: 100%;
                  vertical-align: bottom;
                }
                ul {
                  display: flex;
                  justify-content: center;
                  margin-top: 10px;
                  width: 560px;
                  li {
                    width: 25%;
                    margin: 0 10px 0 0;
                    img {
                      object-fit: cover;
                      height: 87px;
                    }
                  }
                }
              }
            }
          }
          &__price {
            margin: 24px 0 24px;
            text-align: center;
            span {
              font-size: 46px;
              font-weight: bold;
              margin-right: 10px;
            }
            &--detail {
              font-size: 16px;
            }
          }
          &__purchase {
            display: block;
            margin-top: 16px;
            background-color: $common-color;
            font-size: 24px;
            line-height: 60px;
            text-align: center;
            font-weight: 600;
            text-decoration: none;
            color: #fff;
          }
          &__description {
            padding-top: 32px;
            line-height: 1.5;
            font-size: 18px;
            margin-bottom: 30px;
          }
          .table {
            margin-bottom: 20px;
            table {
              width: 100%;
              height: 375px;
              border-collapse: collapse;
              border: 1px solid #f8f8f8;
              tbody {
                tr {
                  th {
                    width: 20%;
                    background-color: #eee;
                    font-weight: 400;
                    padding: 8px;
                    border: 1px solid #dedede;
                    font-size: 14px;
                    text-align: center;
                  }
                  td {
                    width: 61%;
                    padding: 15px 15px;
                    border: 1px solid #dedede;
                    font-size: 14px;
                    a {
                      text-decoration: none;
                      color: $common-color;
                    }
                  }
                }
              }
            }
          }
          .optional-area {
            display: flex;
            justify-content: space-between;
            .like {
              margin-top: 10px;
              display: flex;
              .like-btn {
                margin-right: auto;
                padding: 6px 10px;
                border-radius: 40px;
                color: $common-color;
                border: 1px solid #ffb340;
              }
            }
            .report {
              margin-top: 10px;
              display: flex;
              .report-btn {
                font-size: 14px;
                a {
                  padding: 6px 10px;
                  display: inline-block;
                  border-radius: 4px;
                  color: #333;
                  border: 1px solid #333;
                  text-decoration: none;
                }
              }
            }
          }
        }
        .comment-box {
          background-color: #fff;
          padding: 24px;
          margin: 10px 0;
          text-align: center;
          &__new {
            &--body {
              width: 100%;
              min-height: 104px;
              padding: 10px;
              box-sizing: border-box;
            }
            &--btn {
              line-height: 48px;
              background-color: $common-color;
              border: 1px solid $common-color;
              color: #fff;
              width: 60%;
              font-size: 18px;
              border-radius: 100px;
            }
          }
          .notice-msg {
            padding: 8px;
            font-size: 14px;
            background-color: #f8f8f8;
            margin: 10px 0;
            text-align: left;
          }
        }
        .edit-box {
          background-color: #fff;
          padding: 8px 16px;
          margin: 24px 0;
          text-align: center;
          a {
            display: block;
            margin: 16px 0;
            border: 1px solid $common-color;
            font-size: 14px;
            line-height: 48px;
            width: 100%;
            border-radius: 4px;
            text-decoration: none;
            background-color: $common-color;
            color: #fff;
          }
          p {
            font-size: 16px;
          }
          #delete {
            background-color: #aaa;
            border: 1px solid #aaa;
          }
        }
      }
    }
    .links {
      display: flex;
      justify-content: space-between;
      li {
        a {
          text-decoration: none;
          color: $common-color;
        }
      }
    }
    .related-items {
      a {
        display: block;
        margin: 24px 0 8px;
        color: $common-color;
        text-decoration: none;
        font-weight: bold;
        font-size: 22px;
        position: relative;
      }
      &__lists {
        &__product {
          margin-bottom: 10px;
          width: calc(100% / 3);
          &--img {
            background-color: #fff;
            width: 220px;
            height: 150px;
            position: relative;
            overflow: hidden;
            margin: 0;
            z-index: auto;
            img {
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              width: 100%;
              z-index: auto;
              height: 150px;
              object-fit: cover;
            }
          }
          &--body {
            background-color: white;
            color: #333;
            padding: 16px;
            .product-name {
              overflow: hidden;
              line-height: 1.5;
              font-size: 16px;
              text-align: left;
            }
            .product-price {
              font-size: 16px;
              ul {
                display: flex;
                justify-content: space-between;
                align-items: center;
              }
              p {
                font-size: 10px;
                text-align: left;
              }
            }
          }
        }
      }
    }
  }
}
