.section-top {
  padding: 32px 16px;
  text-align: center;
  border-bottom: $border-info;
  .title {
    @include title-font();
  }
}

.card {
  width: 700px;
  background-color: #ffffff;
  display: inline-table;
}

.add-border {
  border-top: $border-info;
  padding-top: 32px;
}

.payments {
  margin: 0 162.5px;
  padding: 0 16px;
  .atm {
    padding: 32px 0;
    .contents {
      display: flex;
      .mark {
        display: flex;
        align-items: center;
        .check-img {
          border: 1px solid #ccc;
          color: #ccc;
          height: 20px;
          width: 20px;
          cursor: pointer;
        }
      }
      .pay-atm {
        margin: 0 16px;
        .name {
          @include section-detail-font;
        }
        .fee {
          font-size: 12px;
          color: $main-font-color;
          margin-top: 4px;
        }
      }
    }
  }
  .credit-card {
    padding: 32px 0;
    border-top: $border-info;
    .current-user {
      display: flex;
      justify-content: space-between;
      &__info {
        display: flex;
        align-items: center;
        .credit-check {
          &__button {
          color: #fff;
          border: 1px solid #0095ee;
          border-radius: 50%;
          height: 20px;
          width: 20px;
          cursor: pointer;
          }
        }
        .credit-info {
          margin: 0 16px;
          .number {
            @include section-detail-font();
          }
          .expiration {
            margin-top: 4px;
            @include section-detail-font();
          }
          .image {
            font-size: 0;
            .img {
              margin: 5px 5px 5px 0;
              max-height: 33px;
              max-width: 44px;
            }
          }
        }
      }
      &__delete {
        display: flex;
        align-items: center;
        &--btn {
          padding: 5px 10px;
          border: 1px solid $red-color;
          color: $red-color;
          border-radius: 4px;
          font-size: 12px;
          font-weight: bold;
          text-decoration: none;
          cursor: pointer;
        }
      }
    }
  }
  .add-card {
    margin: 0 0 32px 0;
    &--btn {
      color: #0095ee;
      font-size: 14px;
      text-decoration: none;
    }
    &--btn::before {
      font-family: 'Font Awesome 5 Free'; 
      content: '\f067';
      font-weight:900;
    }
    &--btn:hover {
      opacity: 0.5;
      text-decoration: underline;
    }
  }
  .button {
    padding: 32px 0 48px 0;
    border-top: $border-info;
    text-align: center;
    position: relative;
    &__enter {
      .enter-button {
        @include btn-info();
        font-size: 17px;
        height: 45px;
        line-height: 45px;
        font-weight: bold;
        width: 100%;
        border: none;
        cursor: pointer;
      }
      .enter-button::after {
        height: 20px;
        width: 30px;
        background-color: blueviolet;
      }
    }
    .icon_load {
      position: absolute;
      top: 38px;
      right: 28px;
      display: none;
    }
    &__back {
      margin-top: 32px;
      .back-button {
        color: #0095ee;
        font-size: 14px;
        text-decoration: none;
      }
      .back-button:hover {
        opacity: 0.5;
        text-decoration: underline;
      }
    }
    .about-paymethod {
      display: block;
      margin-top: 48px;
      margin-bottom: 8px;
      color: #0095ee;
      font-size: 14px;
      text-decoration: none;
      text-align: right;
    }
    .back-btn {
      display: block;
      margin-top: 32px;
      color: #0095ee;
      font-size: 14px;
      text-decoration: none;
    }
  }
}